In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from prophet import Prophet

In [5]:
# Cargar los datos
data = pd.read_csv('Reporte_Lesiones_Personales_y_en_Accidente_de_Tr_nsito_Polic_a_Nacional.csv', low_memory=False)
data = data.dropna()
data["FECHA HECHO"] = pd.to_datetime(data["FECHA HECHO"], format='%d/%m/%Y')

In [6]:
# Hacemos un groupby por fecha y sumamos la cantidad de accidentes
data = data.groupby(by='FECHA HECHO')['FECHA HECHO'].count().reset_index(name='Cantidad')
data

     FECHA HECHO  Cantidad
0     2010-01-01       506
1     2010-01-02       202
2     2010-01-03       212
3     2010-01-04       177
4     2010-01-05       141
...          ...       ...
4621  2022-08-27       140
4622  2022-08-28       163
4623  2022-08-29       117
4624  2022-08-30       118
4625  2022-08-31        92

[4626 rows x 2 columns]

In [7]:
# Renombramos las columnas para que sean compatibles con Prophet
data = data.rename(columns={'FECHA HECHO': 'ds', 'Cantidad': 'y'})
data

             ds    y
0    2010-01-01  506
1    2010-01-02  202
2    2010-01-03  212
3    2010-01-04  177
4    2010-01-05  141
...         ...  ...
4621 2022-08-27  140
4622 2022-08-28  163
4623 2022-08-29  117
4624 2022-08-30  118
4625 2022-08-31   92

[4626 rows x 2 columns]

In [8]:
# Creamos el modelo
model = Prophet()
model.fit(data)

INFO:prophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
/root/anaconda3/lib/python3.9/site-packages/prophet/forecaster.py:896: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  components = components.append(new_comp)

Initial log joint probability = -38.7891
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
      99       13152.6     0.0056595       599.429           1           1      118
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     199       13171.6    0.00456479       135.084           1           1      234
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     274       13175.4   3.20692e-05       201.746   1.368e-07       0.001      358  LS failed, Hessian reset
     299       13176.1   0.000605375       185.347      0.6677      0.6677      387
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     303       13176.1   3.91942e-05       137.289   5.672e-07       0.001      438  LS failed, Hessian reset
     399       13178.1    0.00415097       284.388           1           1      549
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     434       13179.7   2.72741e-05         157.6   1.183e-07       0.001      643  LS failed, Hessian reset
     499       13180.8   0.000138854       256.006      0.7494      0.7494      725
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     566       13182.1   3.27857e-05       155.572   9.531e-08       0.001      858  LS failed, Hessian reset
     599       13182.6    0.00026288       215.259           1           1      895
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     672       13183.5    6.1012e-05       128.073   5.416e-07       0.001     1038  LS failed, Hessian reset
     699       13183.6   5.63355e-05       201.518      0.4791      0.4791     1077
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     795       13183.8   3.91664e-05       155.236   5.025e-07       0.001     1244  LS failed, Hessian reset
     799       13183.8    0.00011032       109.192       3.291           1     1250
    Iter      log prob        ||dx||      ||grad||       alpha      alpha0  # evals  Notes
     826       13183.8   1.05813e-07       61.3937     0.06315     0.06315     1290
Optimization terminated normally:
  Convergence detected: relative gradient magnitude is below tolerance