# Taller de AWS - POSTGRES

De forma individual deberan crear y conectarse a una BD en AWS RDS, deben realizar los siguientes procedimientos:

1. Observe el siguiente modelo ER, debe crearlo en la BD de AWS RDS:

![Modelo](modelo.png)

2. Instalar la librería psycopg2 y pandas con el comando:

pip install psycopg2, pandas

conda install psycopg2, pandas

3. Conectarse a la BD, se implementa el siguiente codigo:

In [16]:
import pandas as pd
import sys
import psycopg2
from psycopg2 import OperationalError, errorcodes, errors

myconnection = psycopg2.connect(user="postgres",
                                  password="unicor123",
                                  host="unicor.cc9mtlvjlpbj.us-east-1.rds.amazonaws.com",
                                  port="5432",
                                  database="postgres")


print('Conexión exitosa!')

Conexión exitosa!

In [17]:
# Creamos un cursos para desarrollaroperaciones en la BD
cursor = myconnection.cursor()

## Ejecutando Querys

In [18]:
# Ejecuntando un SQL query
cursor.execute("SELECT version();")
# resultados
record = cursor.fetchone()
print("Estas conectado a ->", record)

Estas conectado a -> ('PostgreSQL 13.3 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 7.3.1 20180712 (Red Hat 7.3.1-12), 64-bit',)

4. Crear todas las tablas y sus relaciones, del modelo de arriba.

5. Realizar una consulta sobre los productos y los clientes que  los compran e impimirlos por pantalla. (para esta operación debe llenar las tablas con registros ficticios).

## Ejemplos de reportes x pantalla

In [30]:
import pandas.io.sql as psql
df = psql.read_sql("SELECT * FROM tem", myconnection)
df.head()

    id
0  AAA
1  BBB

#### Cerrar la conexión

In [ ]:
cursor.close()
myconnection.close()
print("Conexión cerrada")